*{outline:0;margin:0;box-sizing: border-box;font-family: 'Roboto', sans-serif}
/*@font-face{font-family:'Roboto';font-style:normal;font-weight:100;src:url('img/fonts/roboto-v29-latin-100.eot');src:local(''),url('img/fonts/roboto-v29-latin-100.eot?#iefix') format('embedded-opentype'),url('img/fonts/roboto-v29-latin-100.woff2') format('woff2'),url('img/fonts/roboto-v29-latin-100.woff') format('woff'),url('img/fonts/roboto-v29-latin-100.ttf') format('truetype'),url('img/fonts/roboto-v29-latin-100.svg#Roboto') format('svg')}@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:url('img/fonts/roboto-v29-latin-300.eot');src:local(''),url('img/fonts/roboto-v29-latin-300.eot?#iefix') format('embedded-opentype'),url('img/fonts/roboto-v29-latin-300.woff2') format('woff2'),url('img/fonts/roboto-v29-latin-300.woff') format('woff'),url('img/fonts/roboto-v29-latin-300.ttf') format('truetype'),url('img/fonts/roboto-v29-latin-300.svg#Roboto') format('svg')}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:url('img/fonts/roboto-v29-latin-regular.eot');src:local(''),url('img/fonts/roboto-v29-latin-regular.eot?#iefix') format('embedded-opentype'),url('img/fonts/roboto-v29-latin-regular.woff2') format('woff2'),url('img/fonts/roboto-v29-latin-regular.woff') format('woff'),url('img/fonts/roboto-v29-latin-regular.ttf') format('truetype'),url('img/fonts/roboto-v29-latin-regular.svg#Roboto') format('svg')}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:url('img/fonts/roboto-v29-latin-500.eot');src:local(''),url('img/fonts/roboto-v29-latin-500.eot?#iefix') format('embedded-opentype'),url('img/fonts/roboto-v29-latin-500.woff2') format('woff2'),url('img/fonts/roboto-v29-latin-500.woff') format('woff'),url('img/fonts/roboto-v29-latin-500.ttf') format('truetype'),url('img/fonts/roboto-v29-latin-500.svg#Roboto') format('svg')}@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:url('img/fonts/roboto-v29-latin-700.eot');src:local(''),url('img/fonts/roboto-v29-latin-700.eot?#iefix') format('embedded-opentype'),url('img/fonts/roboto-v29-latin-700.woff2') format('woff2'),url('img/fonts/roboto-v29-latin-700.woff') format('woff'),url('img/fonts/roboto-v29-latin-700.ttf') format('truetype'),url('img/fonts/roboto-v29-latin-700.svg#Roboto') format('svg')}@font-face{font-family:'Roboto';font-style:normal;font-weight:900;src:url('img/fonts/roboto-v29-latin-900.eot');src:local(''),url('img/fonts/roboto-v29-latin-900.eot?#iefix') format('embedded-opentype'),url('img/fonts/roboto-v29-latin-900.woff2') format('woff2'),url('img/fonts/roboto-v29-latin-900.woff') format('woff'),url('img/fonts/roboto-v29-latin-900.ttf') format('truetype'),url('img/fonts/roboto-v29-latin-900.svg#Roboto') format('svg')}
*/  


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Material-Icons-Outlined.woff2) format('woff2');
}

.m-i{font-family:'Material Icons';font-weight:normal;font-style:normal;font-size:24px;display:inline-block;line-height:1;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap;direction:ltr;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;font-feature-settings:'liga'}

.x {
    z-index: 2;
    user-select: none;
    cursor: pointer;
    position: absolute;
    border-radius: 40%;
    top: 15px;
    padding: 10px;
    right: 15px;
    text-align: center;
    transition: 0.2s;
}

.x:hover {
    background: #55555533;
    border-radius: 50%;
}

.x:focus-visible{
    outline: 1px solid #bbb;
    border-radius: 50%;
}

.x:active {
    background: #55555555;
    border-radius: 45%;
}

html,body,app{display:block;height: 100%;}

body{
    color: #fff;
    overflow: hidden;/*cuz i cant fix splash*/
}

header {
    display: block;
    width: 100%;
    user-select: none;
    background-color: #1a1a1a;
    border-bottom: 1px solid #555;
    padding: 5px 5px;
    height: 60px;
    transition: 0.2s;
}

#game{
    display: block;
    background: #222242;
    width: 100%;
    height: calc(100% - 60px);
    font-size: 24px;
    color: #fff;
    padding: 8px;
}

::-webkit-scrollbar {
    width: 15px
}
::-webkit-scrollbar-track {
    background-color: initial
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #444
}
::-webkit-scrollbar-thumb:hover {
    background-color: #4b4b4b
}
::-webkit-scrollbar-thumb:active {
    background-color: #5a5a5a
}

/* #d39b00 - gold */

.welcome{
    height: 100%;
}

.welcome form{
    user-select: none;
    /* background: #2f2222; */
    border: 1px solid #b30c0c;
    border-radius: 12px;

    box-shadow: 1px 2px 3px #b30c0c55;

    width: 400px;
    height: 500px;

    padding: 24px;

    position: absolute;
    top: 40%;
    left: 40px;
    transform: translateY(-50%);
}
.welcome form:focus-visible{/*good way to indicate but annoying */
    box-shadow: 1px 2px 3px 6px #b30c0c55;
}
.welcome form h1{
    color: #e46262;
}
.welcome form label{
    display: block;
    color: #bbb;
    font-size: 20px;
    /* border: 1px solid #555; */
    margin-top: 20px;
}
.welcome form label:focus{
    color: #fff;
}
.welcome form input, .welcome form button{
    display: block; 
    width: 100%;
    background: initial;
    color: #fff;
    font-size: 20px;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 12px;
}
.welcome form p{
    user-select: text;
    display: block;
    background: #e46262;
    color: #000;
    margin: 15px 0;
    padding: 4px 12px;
    font-size: 20px;
    border-radius: 8px;
    transition: 0.4s;
}
.welcome form button{
    position: absolute;
    bottom: 0;
    width: calc(100% - 50px);
    cursor: pointer;
    color: #e46262;
    margin: 20px 0;
    transition: 0.3s;
}
.welcome form button:hover,.welcome form button:focus-visible, .welcome form input:focus{
    border: 1px solid #e46262
}
.welcome form button:active{
    background: #e46262;
    color: #000;
}
.welcome a{
    cursor: pointer;
    position: absolute;
    bottom: 80px;
    left: 30px;
    color: #e46262;
    font-weight: 500;
    transition: 0.1s;
}
.welcome a:hover, .welcome a:focus-visible{
    text-decoration: underline;
}
.welcome a:active{
    color: #b30c0c;
}
@media screen and (max-height: 710px) {
    .welcome form{
        position: relative;
        top: 40px;
        transform: initial;
    }
    @media screen and (max-height: 540px) {
        .welcome form{
            position: initial;
            height: 100%;
            overflow-y: auto;
            border: 0;
            border-right: 1px solid #b30c0c;
            border-radius: 8px;
        }
        .welcome a{
            display: block;
            margin: 20px 0;
            position: initial;
        }
        .welcome form button{
            position: initial;
            width: 100%;
        }
    }
}

.news{
    color: #eee;
    position: absolute;
    right: 24px;
    top: 30px;
    min-width: 300px;
    width: calc(100% - 500px);
    max-width: 1200px;
    min-width: 326px;
    height: calc(100% - 60px);
    border: 2px solid #b30c0c44;
    border-radius: 12px;
    padding: 12px;
    overflow-y: auto;
}

.news .info{
    float: right;
    width: 300px;
    color: #000;
    background: #e46262;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.news .article{
    width: calc(100% - 320px);
    border: 2px solid #e46262;
    border-radius: 12px;
    margin-bottom: 20px;
}
@media screen and (max-width: 1400px) {
    .news .info{
        float: initial;
    }
    .news .article{
        width: initial;
    }
}
.news .article *{
    padding: 6px 16px;
}
.news h1{
    color: #000;
    background: #e46262;
    border-radius: 8px 8px 0 0;
}
.news h2{
    color: #000;
    background: #e46262;
}

.news h2, .news p{
    font-size: 18px;
}

#music{
    position: fixed;
    bottom: 40px;
    right: 40px;

    background: #222;
    /* background: #2f2222; */
    padding: 12px;
    border-radius: 12px;

    transition: 0.5s;
}


header{
    z-index: 2;
    position: relative;
    display: block;
    height: 60px;
    width: 100%;
    background: #222;
}

header h1{
    color: #e46262;
    margin-left: 8px;
}

header h1, header p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header p{
    cursor: pointer;
    position: absolute;
    right: 10px;
    display: inline;

    color: #000;
    background: #e46262;
    padding: 12px;
    border-radius: 26px;
    font-size: 20px;
    transition: .2s;
}
header p:hover, header p:focus-visible{
    box-shadow: 0 0 4px 2px #e46262;
}
header p:active{
    background: #111;
    color: #e46262;
}
header .pactive{
    z-index: 4;
    border-radius: 26px 26px 0 0;
    background: #111;
    color: #e46262;
    box-shadow: 1px -2px 3px 1px #e46262!important;
}

header p span{
    float: left;
    margin-right: 3px;
}

header .profilemenu{
    position: absolute;
    right: 10px;
    top: 54px;
    width: 200px;

    background: #111;
    color: #e46262;
    box-shadow: 0 0 4px 2px #e46262;

    font-size: 16px;

    border-radius: 12px 0 12px 12px;
    transform: translateY(-20px);
    opacity: 0;
    transition: .2s;
}

header .profilemenuactive{
    transform: initial;
    opacity: initial;
}

header .profilemenu a{
    cursor: pointer;
    display: block;
    padding: 8px;
    margin: 6px;
    background: #e46262;
    color: #000;
    border-radius: 8px;
    font-size: 18px;
    transition: .2s;
}

header .profilemenu a:hover{
    background: #e4626222;
    color: #e46262;
}

.menumenu{
    position: absolute;
    height: 80%;
    min-height: 530px;
    width: 70%;
    min-width: 820px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%)scale(0.95);

    z-index: 10;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;

    padding: 24px;
    color: #fff;
    background: #1c1c1c;
    border-radius: 12px;
    transition: transform 0.3s, opacity 0.1s;
}

.menumenuactive{
    visibility: initial;
    opacity: initial;
    transform: translate(-50%, -50%);
}


@media screen and (max-width: 820px) {
    .menumenuactive{
        border-radius: 0;
        width: 100%;
        min-width: initial;
    }

}
@media screen and (max-height: 530px) {
    .menumenuactive{
        border-radius: 0;
        height: 100%;
        min-height: initial;
    }
}

.menumenu h1{
    margin-bottom: 20px;
}

.oaction {
    user-select: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    color: #000;
    background: #e46262;
    border: 1px solid #e46262;
    padding: 20px 12px;
    border-radius: 8px;
    transition: 0.4s;
}

.oaction ti{
    display: block
}

.oaction co{
    font-size: 12px
}

.oaction:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 0 #e4626255;
}

.oaction:active {
    border: 1px solid #666;
    background: initial;
    transform: none;
    box-shadow: 0 1px 4px #bbb;
    transition: initial;
}
.oaction:active{
    color: #fff;
    background: none;
    transform: initial;
    transition: background 0.1s, color 0.1s;
    box-shadow: initial;
}